html {
	box-sizing: border-box;
	font-size: 10px;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
    
}

@font-face {
	font-family: "monospace";
	src: url("../fonts/Monospace.ttf");
}

body {
	background-color:#000000;
	font-family: "monospace";	
}

#password {
	color:#00DF00;
	font-size: 9rem;
	background-color: #000000;
	border: none;
	font-family: "monospace";
	text-align: center;
	width: 100%;
	
}

#passwordcontainer {
	display: flex;
	justify-content: center;
}

#passwordrangecontainer {
	display: flex;
	justify-content: center;
}

#passwordlength {
	color: #00DF00;
	font-size: 3.2rem;
	display: flex;
	justify-content: center;
}

.selectors {
	color:#00DF00;
	font-size: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#generatebutton {
	background-color: #000000;
	color: #00DF00;
	border-color: #00DF00;
	font-size: 3.6rem;
	font-family: "monospace";
	
	
}

#copybutton {
	background-color: #000000;
	color: #00DF00;
	border-color: #00DF00;
	font-size: 2.6rem;
	font-family: "monospace";
	margin-top: 20px;
	
}

.generatebutton {
	display: flex;
	justify-content: center;
}
.copybutton {
	display: flex;
	justify-content: center;
}

#errorhandling {
	color: #00DF00;
	font-size: 3.2rem;
}

#errorhandlingcontainer {
	display: flex;
	justify-content: center;
}

#lowercase {
	width: 2rem;
	height: 2rem;
}

#uppercase {
	width: 2rem;
	height: 2rem;
}

#numbers {
	width: 2rem;
	height: 2rem;
}

#symbols {
	width: 2rem;
	height: 2rem;
}
input[type=range] {
	height: 38px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background-color: #000000;
	max-width: 200px;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #00DF00;
	border-radius: 0px;
	border: 0px solid #00DF00;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #00DF00;
	border: 1px solid #00DF00;
	height: 30px;
	width: 15px;
	border-radius: 0px;
	background: #00DF00;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #00DF00;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #00DF00;
	border-radius: 0px;
	border: 0px solid #00DF00;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #00DF00;
	border: 1px solid #00DF00;
	height: 30px;
	width: 15px;
	border-radius: 0px;
	background: #00DF00;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #00DF00;
	border: 0px solid #00DF00;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
	background: #00DF00;
	border: 0px solid #00DF00;
	border-radius: 0px;
	box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #00DF00;
	border: 1px solid #00DF00;
	height: 30px;
	width: 15px;
	border-radius: 0px;
	background: #00DF00;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #00DF00;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #00DF00;
  }

  #strength {
	  display: flex;
	  justify-content: center;
	  color: #00DF00;
	  font-size: 3.2rem;

  }

  P {
	  margin: 0;
	  padding: 0;
  }

  .generatebutton {
	  margin-top: 100px;
  }

  @media only screen and (max-width: 700px) {
	  html {
		font-size: 6px;
	  }
	.selectors {
	  display: flex;
	  flex-direction: column;
	}
  }

  
